.f-pass-wrapper{
    padding: 10px;
    width: 100%;
    background: #EEF6FC;
   
}
.f-pass-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    gap:100px;
}
.f-pass-left{
    
    height: 100%;
    width: 50%;
}
.f-pass-left img{
    width: 100%;
    height: 100%;
}
.f-pass-right{
    
    flex-basis: 2;
}
.f-pass-right .back-arrow{
    padding: 12px;
    width: 100%;
   
    margin-bottom: 40px;
}
.f-pass-head h1{
    font-size: 48px;
    color: #0D2D44;
    font-weight: bold;
}
.f-pass-subhead p{
    font-size: 24px;
    color: #A7AEB4;
    margin-bottom: 40px;
    width: 540px;
}
.f-pass-right label{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}
.f-pass-right label input{
    width: 540px;
    height: 64px;
    outline: none;
    border: none;
    border-radius: 16px;
    padding: 20px 16px;
}
.send-btn{
    width: 540px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 24px;
    background: #2170AC;
    color: #FFF;
    font-size: 18px;
    font-weight: bold; 
    margin-top: 48px;
}