.otp-v-wrapper{
    padding: 10px;
    width: 100%;
    background: #eef6fc;
}
.otp-v-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    gap: 100px;
}
.otp-left{
    background: #EDE6E2;
    height: 100%;
    width: 50%;
    padding: 10px;
}
.otp-left img{
    width:100%;
    height: 100%;
}
.otp-head h1{
    color: #B75B2E;
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-bottom: 25px;  
    margin-top: 12px;
    margin-bottom: 16px;
}
.otp-subHead p{
    font-size: 24px;
    color: #A7AEB4;
    margin-bottom: 40px;
    width: 540px; 
}

.otp-input-field label{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.otp-input-field label .input-field{
    display: flex;
    gap: 12px;
}
.otp-input-field label .input-field input{
    width: 125px;
    height: 64px;
    border-radius:16px ;
    outline: none;
    border: none;
    text-align: center;
    background: #EDE6E2;
}
.submit-btn{
    width: 540px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 24px;
    background: #B75B2E;
    color: #FFF;
    font-size: 18px;
    font-weight: bold; 
    margin-top: 48px;
}