.reset-pass-wrapper{
    padding: 10px;
    width: 100%;
    background: #eef6fc;
}
.reset-pass-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}
.reset-pass-left{
    height: 100%;
    width: 50%;
    background: #EDE6E2;
}
.reset-pass-left img{
    width: 100%;
    height: 100%;
}
.reset-pass-right{
flex-basis: 2;
}
.reset-pass-right .back-arrow{
    padding: 12px;
    width: 100%;
   
    margin-bottom: 30px;
}
.reset-pass-head h1{
    color: #B75B2E;
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-bottom: 25px;  
    margin-top: 12px;
    margin-bottom: 16px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form label{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
form label input{
    width: 540px;
    height: 64px;
    border-radius:16px ;
    outline: none;
    border: none;
    padding: 20px 16px;
    background: #EDE6E2;
}
.reset-btn{
    width: 540px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 24px;
    background: #B75B2E;
    color: #FFF;
    font-size: 18px;
    font-weight: bold; 
    margin-top: 48px;  
}