html, body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
/* ---------Counselling page styling---------  */

.cardWrapper{
    border-radius: 12px;
    box-shadow: inset  4px 4px 6px #d5d5d5 ,inset -4px -4px 6px #d5d5d5; 
    /* border: 2px solid red; */
}