.register-container{
    /* min-height: 100vh; */
    overflow-y:hidden;
    scrollbar-width: none;
    display: flex;
    border: 2px solid red;
    padding: 10px;
    gap: 1px;
    justify-content: center;
}

.register-left{
    border: 2px solid black;
    padding: 1px;
    width: 50%;
    margin-top: -10px;
    margin-left: -20px;
}

.register-left img{
    /* padding: 5px; */
    border: 2px solid black;
    width: 745px;
    height: 690px;
    background-color: blanchedalmond;
    /* width: 50%; */
}

.register-right{
    border: 2px solid pink;
    padding: 5px;
    width: 50%;
    height: 100vh;
    margin-top: -10px;
}

.register-right h3 {
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-right form{
    border: 2px solid pink; 
    display: flex;
    flex-direction: column; 
    padding: 30px;
    /* gap: 0.5px; */
}

.register-right form label{
    display: flex;
    flex-direction: column;
    position: relative;
}

.register-right form a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    /* height: 110vh; */
    overflow: hidden;
    scrollbar-width: none;
    padding: 20px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    /* scrollbar-color: #f5f5f5 #f5f5f5; */
}

.register-right h3{
    color: brown;
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-bottom: 40px;
}

/* .form-container label{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.form-container label input{
    width: 540px;
    height: 64px;
    outline: none;
    border: none;
    border-radius: 16px;
    padding: 20px 16px;
    background-color: blanchedalmond;
} */